* {
    padding: 0;
    margin: 0;
    outline-color: transparent;
    box-sizing: border-box;
    background-color: transparent;
    border: none;
}
body {
    background-color: black;
}
.page{
    margin: 0 auto;
    background-color: rgb(101, 0, 0);
    min-height: 100vh;
    max-width: 60rem;
    display: grid;
    place-content: center;
}
.board {
    display: flex;
    flex-direction: column;
    height: clamp(360px, 70vw, 450px);
    width: clamp(360px, 70vw, 450px);
    border: 1rem solid rgb(255, 166, 0);
    /* transform: rotate(180deg); */
}

.rank {
    display: inline-flex;
    flex: 1;
}
.square {
    width: 100%;
    height: 100%;
    &.white {
        background-color: white;
    }
    &.black {
        background-color: black;
    }
    &.legalMove {
        background-image: radial-gradient(rgba(137, 43, 226, 0.399) 50%, rgba(137, 43, 226, 0.399) 50%);
    }
}
.piece {
    font-size: clamp(0.70rem, 0.30rem + 1vw, 0.85rem);
    width: 100%;
    height: 100%;
    /* transform: rotate(180deg); */
    &[data-color = "white"] {
        color: white;
        background: radial-gradient(Blue 55%, rgb(255, 166, 0) 60%,transparent 65%);
    }
    &[data-color = "black"] {
        background: radial-gradient(red 55%, rgb(255, 166, 0) 60%, transparent 65%);
    }
    &.active {
        background-color: rgba(137, 43, 226, 0.399);
    }
}

.log {
    height: 3rem;
    background-color: black;
    color: white;
    text-align: center;
    display: grid;
    place-content: center;
    font-size: 1.2rem;
    width: clamp(360px, 70vw, 450px);
}

@media screen and (max-width: 750px) {
  .board {
    height: 100vw;
    width: 100vw;
    border: none;
  }
  .log {
    width: 100vw;
  }
}

